@import "../../style.scss";
.login {
    height: 100vh;
    background-color: rgb(193, 190, 255);
    display: flex;
    align-items: center;
    justify-content: center;
  
    .card {
      width: 120vh;
      display: flex;
      background-color: #ffffff;
      border-radius: 10px;
      min-height: 600px;
      overflow: hidden;

      @include mobile{
        min-width: 90%;
        text-align: center;
      }

      @include tablet{
        width: 75%;
        flex-direction: column;
        gap: 20px;
        text-align: center;
      }
  
      .left {
        flex: 1;
        background: linear-gradient(rgba(39, 11, 96, 1), rgba(39, 11, 96, 0)),
          url("https://images.unsplash.com/photo-1585409677983-0f6c41ca9c3b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8M3x8fGVufDB8fHx8&w=1000&q=80")
            center;
        background-size: cover;
        padding: 50px;
        display: flex;
        flex-direction: column;
        gap: 30px;
  
        h1 {
          color: #ffffff;
          font-size: 100px;
          line-height: 100px;
        }
        
        p {
          color: #ffffff;
        }
        
        @include mobile{
          display: none;
        }
        @include tablet{
          h1{          
            font-size: 40px;
            line-height: 40px;
          };
          padding: 20px;
        }
      }
  
      .right {
        flex: 1;
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        justify-content: center;
        align-items: center;

        h1 {
        color: #555;
        }
        
        
        form {
          display: flex;
          flex-direction: column;
          gap: 15px;
          width: 90%;
          
          input {
            border: 1px solid lightgray;
            padding: 10px 10px;
            border-radius: 10px;
          }

          @include mobile{
            gap: 20px;
          }

          @include tablet{
            width: 70%;
            padding: 20px;
            gap: 20px;
          }
        }
        button {
          padding: 10px;
          border: none;
          color: white;
          font-weight: bold;
          cursor: pointer;
          border-radius: 10px;
        }
        #btn__login{
            background-color: #1877f2;
            width: 160px;
        }
        #btn__register{
          background-color: #42b72a;
          width: 200px;
        }
      }
    }
  }