@import "../../style.scss";

.stories {
  @include themify($themes){
  height: 250px;
  width: 680px;
  margin-bottom: 30px;
  background-color: themed('bgstories');
  border-radius: 10px;

  .left-arrow {
    height: 40px;
    width: 40px;
    position: relative;
    bottom: 150px;
    box-sizing: border-box;
    left: 20px;
    z-index: 2;
    transform-origin: center;
    cursor: pointer;
    background-color: #3e4042;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    transform: translateX(-20%);
    justify-content: center;

    &:hover {
      opacity: 0.8;
    }

    &:hover svg {
      opacity: 1.2;
      //transform: scale(1.2);
    }

    svg {
      opacity: 0.6;
      font-size: 35px;
      transition: all 0.3 linear;
    }
  }
  .right-arrow {
    height: 40px;
    width: 40px;
    position: relative;
    bottom: 190px;
    left: 640px;
    z-index: 2;
    transform-origin: center;
    cursor: pointer;
    background-color: #3e4042;
    font-size: 10px;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    transform: translateX(-20%);
    justify-content: center;

    &:hover {
    opacity: 0.8;
    }

    &:hover svg {
      opacity: 0.8;
    }

    svg {
      opacity: 0.6;
      font-size: 35px;
      transition: all 0.3 linear;
    }
  }
  .slider {
    display: flex;
    gap: 10px;
    position: initial;
    z-index: 1;
    //margin-bottom: 30px;
    overflow: hidden;
    border-radius: 10px;
    border: #081449 3px solid;
    box-sizing: border-box;

    @include mobile {
      height: 250px;
      width: 100%;
      justify-content: space-between;
    }

    @include tablet {
      height: 250px;
      gap: 2px;
    }

    .story {
      box-sizing: border-box;
      width: 150px;
      height: 250px;
      z-index: 1;
      flex: 1;
      position: relative;


      @include mobile {
        flex: none;
        width: 150px;
        height: 50px;
        border-radius: 50%;
        gap: 10px;
      }

      img {
        width: 150px;
        height: 230px;
        object-fit: cover;
        border-radius: 10px;
        margin: 10px 10px;
      }

      span {
        position: absolute;
        bottom: 10px;
        left: 30px;
        text-align: inherit;
        color: white;
        font-weight: 500;

        @include mobile {
          display: none;
        }
      }

      button {
        position: absolute;
        bottom: 40px;
        left: 50%;
        color: white;
        background-color: #5271ff;
        border: none;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        cursor: pointer;
        font-size: 30px;
        display: flex;
        align-items: center;
        justify-content: center;

        @include mobile {
          font-size: 60px;
          width: 60px;
          height: 60px;
          left: 0;
          right: 0;
          top: 200px;
          bottom: 0;
          margin: auto;
        }

        @include tablet{
          font-size: 60px;
          width: 60px;
          height: 60px;
        }
      }
    }
  }
}
}